<!DOCTYPE html>
<html>
<head>
  <title>Game</title>

  <!-- Import font-awesome icons -->
  <link rel="stylesheet" href="/public/assets/css/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--Import materialize.css-->
  <link rel="stylesheet" type="text/css" href="/public/assets/css/materialize.min.css" media="screen,projection"/>
  <!--Import bootstrap.css-->
  <link rel="stylesheet" type="text/css" href="/public/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/assets/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/public/assets/css/game.css">
   <!-- get the required files from 3rd party sources -->
  <link href='../../public/assets/css/fonts/roboto?family=Roboto' rel='stylesheet' type='text/css'>

  <!--Let browser know website is optimized for mobile-->
  <meta charset="utf-8">

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="/public/assets/js/jquery-3.2.0.min.js"></script>
  <script type="text/javascript" src="/public/assets/js/materialize.min.js"></script>
  <script type="text/javascript" src="/public/js/game.js"></script>
  <!-- <script type="text/javascript" src="assets/js/utils.js"></script> -->
  <script type="text/javascript" src="/public/assets/js/jquery.flip.min.js"></script>


</head>
<body onload="hidding();">
	<div id="game_board" class="col-sm-8  col-md-8 col-md-offset-2 col-lg-8" style="padding-top: 7%;">
		<h2 class="center">Game Players </h2>
		<div class="container-fluid">
			<div class="row">
        <input type="hidden" name="gift" id="gift">
        <input type="hidden" name="door_size" id="door_size" value="3">
				<h5 class="grey-text text-darken-2">1. Select A Door</h5>
				<h5 class="grey-text text-darken-2">2. You can switch or stay</h5>
				<h5 class="grey-text text-darken-2">3. Display of result</h5>

        <div class="row" id="container">


          <div class="col-sm-4 col-md-4 col-lg-2 mycard animated lightSpeedIn" id="card_1" style="margin-right: 25px;">
  					<div class="btn green z-depth-5 col s12 side front" id="myfront1" onclick="userChoose(1)">
              <input type="hidden" name="" id="btn1" value="1">
  						<i class="center">Door 1</i>
  					</div>
  					<div class="btn z-depth-5 blue side back" id="image1">
  						<p><img src="/public/assets/img/host.png" width="110" height="280" id="image1" ></p>
  					</div>

  				</div>
  				<div class="col-sm-4 col-md-4 col-lg-2 mycard animated jackInTheBox" id="card_2" style="margin-right: 25px;">
  					<div class="btn green z-depth-5 col s12 side front" id="myfront2"onclick="userChoose(2)">
              <input type="hidden" name="" id="btn2" value="2">
              <i class="center">Door 2</i>
  					</div>

  					<div class="btn z-depth-5 blue side back">
  						<p><img src="/public/assets/img/host.png" width="110" height="280" id="image2" ></p>
  					</div>

  				</div>
  				<div class="col-sm-4 col-md-4 col-lg-2 mycard animated lightSpeedIn" id="card_3" style="margin-right: 25px;">
  					<div class="btn green z-depth-5 col s12 side front" id="myfront3" onclick="userChoose(3)">
              <input type="hidden" name="" id="btn3" value="3">
  						<i class="center">Door 3</i>
  					</div>
  					<div class="btn z-depth-5 blue side back">
  						<p><img src="/public/assets/img/host.png" width="110" height="280" id="image3" ></p>
  					</div>

  				</div>
        </div>

			</div>
			<div class="input-field pull-right">
				<input type="button" class="btn teal col s12" onclick="myReset()" id="resetButton" name="click" value="Reset"> ||

				<a href="index.html"><input type="button" class="btn col s12" name="b" value="Exit"></a>
			</div>
		</div>
	</div>

	<!--Import bootstrap.js-->
	<script type="text/javascript" src="/public/assets/js/bootstrap.min.js"></script>

  <script type="text/javascript">
      var arrSize = $('#door_size').val();
      //alert(arrSize);
      $(document).ready(function(){
        //loadDoors(arrSize);
        setGiftLocation(arrSize);


      });

      function setGiftLocation(val) {
        var location = Math.floor(Math.random()*val+1);

        $('#gift').val(location);
        //alert($('#gift').val());
      }

      function userChoose(position) {
        //open one;

        var pos = hostChoose(position,arrSize);

        setTimeout(function(){
          $('#card_1').flip(true);
        },3000);
        //alert(pos);


      }

      function hostChoose(userPos,arr) {
        //alert(arr);
        var hostnum = 0;
        for (var i = 1; i <= arr; i++) {
          if (i!=userPos && i!=$('#gift').val()) {
            hostnum = i;
            break;
          }

        }

        return hostnum;
      }

      function loadDoors(door_size) {

        //for (var i = 0; i < door_size.length; i++) {
            //var container = document.findElementById('container');
            // $('#container').append(
            //   '<div class="col-sm-4 col-md-4 col-lg-2 mycard animated jackInTheBox" id="card_2" style="margin-right: 25px;">\
      			// 		<div class="btn green z-depth-5 col s12 side front" id="">\
      			// 			<i class="center">Door 2</i>\
      			// 		</div>\
      			// 		<div class="btn z-depth-5 blue side back">\
      			// 			<p><img src="/public/assets/img/host.png" width="110" height="280" id="image2" ></p>\
      			// 		</div>\
      			// 	</div>'
            // );
        //}
      }





  </script>
</body>
</html>
