<!DOCTYPE html>
<html>
<head>
	<title>Monty Hall Game</title>

<!--Personal JS-->
<script src="/public/js/mdl.js"></script>
<!--Personal CSS-->
<link rel="stylesheet" href="/public/assets/css/mdl.css">
<link rel="stylesheet" href="/public/assets/css/hover.css">
<!--Material Design-->
	<link rel="stylesheet" href="/public/assets/css/material.min.css">
	<link rel="stylesheet" href="/public/assets/css/animate.css">
<script src="/public/assets/js/material.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<!--Bootstrap-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--Animate.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>


<body style="background-color:#1a1a1a;padding: 5px;border-width: 1px" id="myImage" onload="toggleSound();" class="backOfDiv2">

<div class="clearfix">

<div style="float: left">
<div class="circle">

</div>
<div class="eg2">

</div>
<div class="circle">

</div>
<div class="eg2">

</div>
<div class="circle">

</div>
<div class="eg2">

</div>
<div class="circle">

</div>
<div class="eg2">

</div>

<div class="circle">

</div>

</div>


	<div style="float: right;">
<div class="circle">

</div>
<div class="eg2">

</div>
<div class="circle">

</div>
<div class="eg2">

</div>
<div class="circle">

</div>
<div class="eg2">

</div>
<div class="circle">

</div>
<div class="eg2">

</div>

<div class="circle">

</div>

</div>

<div style="background-color:#4d4d4d;padding: 5px;width: 1100px; height:900px;position: absolute;top:  50%;left: 50%;transform:translate(-50%,-50%);border-width: 1px" class="backOfDiv3">



<div class="clearfix">

<div style="float: left">
<div class="circle">

</div>
<div class="eg2">

</div>
<div class="circle">

</div>
<div class="eg2">

</div>
<div class="circle">

</div>
<div class="eg2">

</div>
<div class="circle">

</div>
<div class="eg2">

</div>

<div class="circle">

</div>
<div class="eg2">

</div>
</div>


	<div style="float: right;">
<div class="circle">

</div>
<div class="eg2">

</div>
<div class="circle">

</div>
<div class="eg2">

</div>
<div class="circle">

</div>
<div class="eg2">

</div>
<div class="circle">

</div>
<div class="eg2">

</div>

<div class="circle">

</div>
<div class="eg2">

</div>

</div>

<div style="background-color:#C0C0C0;width: 900px; height:600px;position: absolute;top:  50%;left: 50%;transform:translate(-50%,-50%); border-width: 1px" class="backOfDiv">

	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">
	<img src="/public/assets/img/goat2.png" class="backgroundImg">
	<img src="/public/assets/img/car2.png" class="backgroundImg">

<!--</div>
<canvas id="canvas" style="width: 300px;height:200px"></canvas>-->
<!--<div style="background-color:#000000; ">
<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">


</div>-->

<!--<div style="background-color:teal; ">
	<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">

	</div>-->

<script>
function myMove() {
  var elem = document.getElementById("myAnimation");
  var pos = 0;
  var id = setInterval(frame, 10);
  function frame() {
    if (pos == 350) {
      clearInterval(id);
    } else {
      pos++;
      elem.style.top = pos + 'px';
      elem.style.left = pos + 'px';
    }
  }
}
</script>

<!--
<div>
	<img src="../images/car2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/car2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/car2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/car2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/car2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/car2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/car2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">
	<img src="../images/car2.png" class="backgroundImg">
	<img src="../images/goat2.png" class="backgroundImg">

</div>-->



<div id="cont" class="mdl-card mdl-shadow--16dp" style="position: absolute;top:  50%;left: 50%;transform:translate(-50%,-50%); padding: 20px; width: 700px; height:450px;text-align: center;background-color:#000000" class="container-fluid" >

<div class="clearfix">



<div style="float: right;">

<label>
  <p style="font-size: 25px; color: white;">Sound</p>
</label>

 <label class="switch" >
  <input id="toggle" type="checkbox" checked="checked" onclick="toggleSound();">
  <span class="slider round"></span>
</label>
</div>

 </div>

<div class="mdl-card__title">

     <h1 class="mdl-card__title-text--primary" style="text-align: center;color:#ffffff ">The Monty Hall Game</h1>

  </div>



  <br>
<div id="aud">
  <audio id="music" src="/public/assets/music.mp3" autoplay="true" loop="true" autobuffer></audio>
</div>

  <div class="mdl-card__supporting-text">
    <a href="/game" class="hvr-bounce-in"><button id="playBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" style="width: 400px; height: 50px;" >
  Play Alone
	</button></a>
  </div>

<br/><br/>

 <div class="mdl-card__supporting-text">
 	<a href="#" class="hvr-bounce-in"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" style="width: 400px; height: 50px;">
  Play with Human Host
  	</button></a>
 </div>

<br/><br/>

<div class="mdl-card__supporting-text">
	<a href="#" class="hvr-bounce-in"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" style="width: 400px; height: 50px;">
  Be a Host
</button></a>
</div>

</div>
</div>



</div>
</div>


</body>
</html>
