.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: teal;
}

input:focus + .slider {
  box-shadow: 0 0 1px teal;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}



.circle { 
	margin:50px;
	width: 15px; 
	height: 15px; 
	background-color: #ffffff; 
	border-radius: 50px;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	 
	/*-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
   /* -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
   /* animation: shake 5s infinite;*/
}

.eg2{
	margin:50px;
	width: 30px; 
	height: 30px; 
	background-color: #ffffff; 
	border-radius: 50px;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	 
	animation-name: example2;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: #ffffff;}
    to {background-color: teal;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: #ffffff;}
    to {background-color: teal;}
}
@keyframes example2 {
    from {background-color: teal;}
    to {background-color: #ffffff;}
}

.try{
	/*width:40px;
	height:40px;
	margin: 40px;
	margin: 40px;
	position: relative;
	animation-name: hello;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */   
}


@keyframes hello {
    0%   {left:0px; top:0px;}
   /* 20%  {left:0px top:20px;}*/
    50%  {left:0px; top:100px;}
   /* 60%  {left:0px; top:60px;}*/
   /* 80%  {left:0px; top:800px;}*/
    100% {left:0px; top:250px;}
}

.backOfDiv {
	position: relative;
	animation-name: colorChange1;
    animation-duration: 2s;
    /*animation-iteration-count: infinite;*/
      

}

@keyframes colorChange1 {
    0%   {background-color:#ffffff ;}
   /* 20%  {left:0px top:20px;}*/
   /* 50%  {background-color:#ffffff ;}
   /* 60%  {left:0px; top:60px;}*/
   /* 80%  {left:0px; top:800px;}*/
    100% {background-color:#000000 ;}
}

.backOfDiv2 {
	position: relative;
	animation-name: colorChange2;
    animation-duration: 2s;
  /*  animation-iteration-count: infinite;*/
      

}

@keyframes colorChange2 {
    0%   {background-color:#000000 ;}
   /* 20%  {left:0px top:20px;}*/
   /* 50%  {background-color:#ffffff ;}*/
   /* 60%  {left:0px; top:60px;}*/
   /* 80%  {left:0px; top:800px;}*/
    100% {background-color:#ffffff ;}
}

.backOfDiv3 {
	position: relative;
	animation-name: colorChange3;
    animation-duration: 2s;
    /*animation-iteration-count: infinite;*/
      

}

@keyframes colorChange3 {
    0%   {background-color:#ffffff ;}
   /* 20%  {left:0px top:20px;}*/
   /* 50%  {background-color:#4d4d4d ;}
   /* 60%  {left:0px; top:60px;}*/
   /* 80%  {left:0px; top:800px;}*/
    100% {background-color:#000000 ;}
}


.backgroundImg {
	width:40px;
	height:40px;
	margin:40px;  
	animation: shake 5s infinite;
	/*animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;*/
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-50px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(10px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-30px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(20px, 0, 0);
  }
}


.one {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}


.overlays{
        position:absolute;
        width:50px;
	height:50px;
    }


    body, html { height:100%; }

#myCanvas {
    position:absolute;
    width:100%;
    height:100%;
}